﻿@using AdsAuthentication.Data
@model AdsViewModel


<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (Ad ad in Model.Ads)
        {
            <div class="bg-light rounded-3 p-5 mt-3">
                <h5>Phone Number: @ad.PhoneNum</h5>
                <h2>@ad.Description</h2>
                <h5>Listed on: @ad.Date.ToShortDateString()</h5>
                    <form method="post" action="/Home/Delete">
                        <input type="hidden" name="id" value="@ad.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
            </div>
        }
    </div>

</div>

